header, section, footer, aside, nav, article, figure, figcaption
{
    display: block;
}

body
{
    color: purple;
    background-color: ghostwhite;
    line-height: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Page
{
    width: 999px;
    border:3px solid pink;
    margin: 20px auto 20px auto;

    margin: 13px auto 13px auto;  
}

h1
{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav, footer
{
    color: blueviolet;
    background-color: tan;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}

nav li {
        display: inline;
        margin-right: 40px;}
nav ul li a
{
    text-decoration: none;

}

#icon
{
    float: left;
    width: 50px;
    height: 50px;
}
section.websites
{   padding-top: 30px;
     width: 770px;
    float: left;
    border-right: 1px solid purple;
    width: 630px;

}

article {
    padding-top: 30px;
    clear: both;
    overflow: auto;
    width: 100%;}



aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;}
    .MostRated
    { color: palevioletred;
    border: 3px solid purple;
    text-align: center;}
    aside section a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #eeeeee;}
        aside section a:hover {
        color: #985d6a;
        background-color: #efefef;}
        a {
        color: #de6581;
        text-decoration: none;}
        h1, h2, h3 {
        font-weight: normal;}
        footer {
            clear: both;

            font-size: 80%;
            padding: 7px 0px 0px 20px;}